* {
    padding: 0;
    margin: 0;
}

html {
    background: #c1eeff;
}
.header {
    background-color: #b48dee;
    color: white;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;

}

.mainheader {
    background-color: #2ddfa3;

    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.input {
    width: 80vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: white;
}

.button {
    width: 16vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 1vw;
    background-color: #5bcca7;
    color: #f3f4f5;


}

.mainbottom {
    position: absolute;
    bottom: 0;
}